<div class="flex w-screen h-screen text-white">
  <div class="w-48 bg-zinc-900">
    <div *ngFor="let route of routes">
      <div
        class="p-2 cursor-pointer hover:bg-zinc-700"
        [routerLink]="route.path"
        routerLinkActive="bg-zinc-800">
        <span class="capitalize">
          {{ route.path }}
        </span>
      </div>
      <div
        class="p-2 cursor-pointer hover:bg-zinc-700"
        *ngFor="let children of route.children"
        [routerLink]="[route.path, children.path]"
        routerLinkActive="bg-zinc-800">
        <span class="ml-2 capitalize text-xs">
          {{ children.path }}
        </span>
      </div>
    </div>
  </div>
  <div class="flex-1 bg-zinc-800 p-4 overflow-hidden h-full">
    <router-outlet></router-outlet>
  </div>
</div>
