<div class="mb-4 p-2 bg-zinc-600 rounded-sm flex flex-col gap-2">
  <h2 class="text-xl mb-2">Descrição</h2>
  <p class="text-xs">...</p>
</div>

<div class="bg-zinc-600 p-2 rounded-sm flex flex-col gap-2">
  <h2 class="text-xl">Testes</h2>
  <p class="text-xs">DebounceTime</p>
  <div
    class="w-full flex items-center justify-between text-zinc-800 bg-white py-1 px-2 rounded-sm">
    <input
      #inputSearch
      type="search"
      class="w-full outline-none"
      placeholder="Pesquise..." />
  </div>
</div>
